/* navbar */
.navbar-container {
    width: 100%;
    height: 80px;
    background-color: #893e2a;
    padding: 0 2em;
    position: relative;
    box-sizing: border-box;
}

.logo {
    width: 50px;
    margin-top: 15px;
}

nav {
    position: relative;
}

.navbar-items {
    list-style: none;
    position: absolute;
    display: inline-block;
    height: 80px;
    line-height: 80px;
    margin: 0;
    right: 0;
}

.navbar-items li {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;
}

.navbar-items li a {
    color: #fbf9f9;
    text-decoration: none;
    transition: 0.5s;
    font-size: 25px;
    font-family: sans-serif;
}

.navbar-items li a:hover {
    color: #541200;
}

